
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  box-sizing: border-box;
  margin-top: 0;
}

/*Custom CSS props*/
:root{
   /*Main logo*/
  --main-logo: 2em;
  --main-label: 2em;

  /*Colors*/
  --Darkergray-color: rgb(61, 61, 61);
  --mediumgray-color: rgb(101, 98, 98);
  --lightergray-color:rgb(244, 244, 244);
  --very-light-gray-color:rgb(243, 242, 242);
  --white-color: rgb(255, 255, 255);

  /*font styles*/
   --text-font: Lato;

   /*All border radius*/
    --Edge-radius: 1cap;
 
 /*Margin and Padding*/
  --my-margin: 1em;
  --my-padding: 10px;

  /*Navigation font size*/
  --navigate-fontsize: 1em;

  /*Body margin*/
  --body-margin: 100px;

  /*ionicon style*/
  --ionicon-stroke-width: 50px;
  --ionicon-size: 2em;

  /*Spacing*/
  --space-between: 2em;
  --space-between1: 3em;

  /*logo sizing*/
  --logo-size1: 2em;
  --logo-size2: 3em;
  --logosize3: 4em;

  --logo-size4: 100%;
  --logo-size5: 150%;
  --logo-size6: 200%;
  --logo-size7: 50%;

/*color hover*/
--color-hover: rgb(25, 25, 25);

}




/*This is header style( main logo, navigation, three logo)*/

.main-logo{
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  
}


.main-logo span{
padding-right: 5px;
font-size: var(--main-logo) ;
color: var(--Darkergray-color);

stroke-width: var(--ionicon-stroke-width);

}

.main-logo h2{
  color: var(--Darkergray-color);

  
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: var(--body-margin);
  margin-right: var(--body-margin);
  margin-top: 40px;
}



header .navigation ul{
  display: flex;
  list-style: none;
  justify-content: center;
  padding-left: 0;
  gap: 20px;
  flex-wrap: wrap;
}

header .navigation ul li{

  font-family: var(--text-font);
  
  cursor: pointer;
  transition: color 0.5s;

}

header .navigation ul li a:hover
{
  color: var(--color-hover) ;
  transition: 0.4s;
  
}

header .navigation ul li:last-child{
  border-right: none;
}



header .navigation ul li a{
  text-decoration: none;
  color: var(--mediumgray-color);
  font-size: var(--navigate-fontsize);
  font-weight: 700;
  padding: 0 25px;
}

.navigation .nav-links li img{
  margin-left: 10px;
 
}

.top-logo ul{
  list-style: none;
  cursor: pointer;
}

.navigation .nav-links{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
 
  flex-direction: column;
  background-color: var(--lightergray-color);
  display: none;
  z-index: 999;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  padding-top: 20px;
  transition: 0.5s ease;
  border-radius: var(--Edge-radius);
}

.nav-links.active{

  right: 0;
}




header .top-logo{
  display: flex;
  justify-content: space-around;
  gap: var(--space-between1);
 font-size: var(--logo-size5);

 color: var(--Darkergray-color);

}
header .top-logo span{
  transition: transform 0.5s ease-in-out ;
}


header .top-logo span:hover{
  transform: scaleX(1.5) scaleY(1.5) ;
  transition: 0.5s;
}








/*main container banner*/
.container{
  margin: 0;
 
}
.container .banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


 background-color: var(--Darkergray-color);
 border-radius: var(--Edge-radius);

}

.container .banner{
background-image: url(images/thumb.png);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}




.container .three-layout
{
display: flex;

}

.container .banner img{
  z-index: 0;
  

}


.container .banner h3, h1{
color: var(--white-color);
font-family: var(--text-font);

}

.container .banner h3{
  padding-bottom: 2em;
  opacity: 0.5;
  letter-spacing: 2px;
}

.container .banner p{

  max-width: 600px;
  font-size: 30px;
  margin: 0 auto 30px auto;
  color: var(--white-color);
  text-align: center;
  opacity: 0.7;
  font-size: 20px;
  
}
.container .banner h1{
  font-weight: 900;
}


.container .banner button{

border-radius: var(--Edge-radius);
border-style: none;
padding-left: 40px;
padding-right: 40px;
padding-top: 15px;
padding-bottom: 15px;
cursor: pointer;
font-family: var(--text-font);

font-size: medium;
color: var(--Darkergray-color);
opacity: 0.9;
transition: background-color 0.7s ease-out;
}


.container .banner button:hover{
  background-color: black;
  color: var(--white-color);
  transition: 0.5s;
}

/*Three layout section styles*/
.three-layout{
  display: flex;
  justify-content: center;
  margin-top: 60px;
 flex-wrap: wrap;

  
}

.three-layout article{
flex: 1;
}
.three-layout .card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.three-layout .card img{
  max-height: 100%;
  border-radius: var(--Edge-radius);
 

}

.three-layout .card p{
  text-align: center;
}

.three-layout .card h2{
  color: var(--Darkergray-color);
}
.three-layout .card .tl-blogcards{
  font-size:small;
  color: var(--Darkergray-color);
  font-weight: 500;
  opacity: 0.8;
}

.three-layout .card p{
  font-size: 16px;
  color: var(--Darkergray-color);
}



/*Multi-layout styles*/


.multi-layout{
  background-color: var(--very-light-gray-color);
}

.multi-layout .multi-head h1{
  color: var(--Darkergray-color);
}

.multi-layout .right-sidelayout .header-right h1{
  color: var(--Darkergray-color);
}


.multi-layout .left-side .left-blogcards .info h1{
  color: var(--Darkergray-color);
}

.multi-layout .left-side h1{
  color: var(--Darkergray-color);
}

.multi-layout .left-side .with-thumbnails{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;



  background-image: url(images/thumbbook.png);
  background-color:var(--Darkergray-color);
  background-repeat: cover;
  background-position: center center;
  border-radius: 3cap;
  height: 420px;
  width: 820px;

}



.multi-layout .left-side .with-thumbnails h1,h3,.top-left-blogcards{
    color: var(--very-light-gray-color);
}

.multi-layout .left-side{
  margin-left: 100px;
  margin-right: 100px;
}

.multi-layout .left-side .left-blogcards .info .thumbnail{
  height: 250px;
  width: 700px;
  background-image: url(images/thumbbook.png);
  background-color: var(--lightergray-color);
  background-repeat: cover;
  background-position: center center;

  border-radius: 2cap;
  display: flex;

}

.multi-layout .left-side .left-blogcards .info h1{
  font-size: 25px;
}




.multi-layout .left-side .left-blogcards .info {
display: flex;
flex-direction: row;
margin-top: var(--my-margin);
gap: 10px;
align-items: center;
justify-content: center;

}


.multi-layout .left-side .left-blogcards .info .thumbnail-child{
  display: flex;
  flex-direction: column;
 
}
.multi-layout .left-side .left-blogcards .info .thumbnail-child .info-top{
  color: var(--mediumgray-color)
}

.multi-layout .left-side .left-blogcards .info .thumbnail-child .info-bottom{
  color: var(--mediumgray-color)
}



/*Multi layout button styles*/
.btn-load{
  display: flex;
  justify-content: center;
  margin-top: 30px;

 margin-bottom: 20px;

}

.btn-load button{
  border-radius: 2cap;
  border-style: none;
  background-color: var(--white-color);
  height: 40px;
  width: 150px;
 font-weight: 600;
 transition: background-color 0.4s ease-in-out;

}

.btn-load button:hover{
  background-color: var(--Darkergray-color);
  color: var(--white-color) ;
  cursor: pointer;
  transition: background-color 0.5s;
}









.multi-layout{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(auto 1fr);
grid-template-areas:
"head head"
"left-art right-art"
"left-art right-art"
;


}

@media (max-width: 600px){
  .multi-layout{
display: grid;
grid-template-columns: repeat(auto, 1fr);
grid-template-rows: repeat(auto, 1fr);
grid-template-areas:
"head head""left-art right-art"
"left-art right-art"
;


  
  }
}


/*multi-layout grid names*/

.multi-layout .multi-head{
  grid-area: head;
  text-align: center;
}


.multi-layout .left-side {
  grid-area: left-art;
}


.multi-layout .multi-head .right-sidelayout{
  grid-area: right-art;
}


/*This is for right side layout styles*/

.right-sidelayout{
  background-color: var(--white-color);
  padding: 40px;
  margin-right: 100px;
  border-radius: var(--Edge-radius);

  display: flex;
  flex-direction: column;
}


.right-sidelayout .blogcard{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.right-sidelayout .blogcard .thumbnail .image-blogcard{
  flex-basis: 150px;
  margin-right: 20px;
  background-color: var(--mediumgray-color);
}
.right-sidelayout .blogcard .content{
  flex-basis: 500px; 

  }

.right-sidelayout .blogcard h3{
  color: var(--Darkergray-color);
}
.right-sidelayout .blogcard .image-blogcard img{
  border-radius: var(--Edge-radius);
  max-width: 100%;
}
/*four-cards style*/

.four-cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
 
}
.four-cards .four-blogcards .blogcard{
  display: flex;
  flex-direction: column;
 flex: 1;
 gap: 10px;
}

.four-cards .four-blogcards .blogcard .content{
flex-grow: 1;
}


.four-cards .section-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.four-cards .four-blogcards{
  display: flex;
  flex-direction: row;
  gap: var(--space-between);
    flex-wrap: wrap;
}

.four-cards .four-blogcards .blogcard .content h3{
  color: var(--Darkergray-color);
}


.four-cards .four-blogcards .blogcard .thumbnail img{
  border-radius: var(--Edge-radius);
  max-width: 100%;
  height: auto;
}
.four-cards .four-blogcards .blogcard .thumbnail{
  background-color: var(--lightergray-color);
  border-radius: var(--Edge-radius);
}

.four-cards .subscribe{
  display: flex;
  flex-direction: column;

  background-color: var(--lightergray-color);
  margin-top: 2rem;
  padding: 2rem;
  border-radius: var(--Edge-radius);
  justify-content: center;
  align-items: center;
 
 width: 100%;
  
}

.four-cards .subscribe header h1{
  color: var(--Darkergray-color);
  font-weight: 900;

}

.four-cards .subscribe .para {
  line-height: 1.6;
  max-width: 400px;
  text-align: center;
 
}

.four-cards .subscribe .para .p{
  flex-grow: 2;
}

.four-cards .subscribe .this-input input[type="text"]{
  height: 30px;
  width: 250px;

}

.four-cards .subscribe .this-input{
  display: flex;
  align-items: center;
  justify-content: center;
}

.four-cards .subscribe .this-input button{
  height: 36px;
  width: 100px;
  margin-left: 10px;
  border-radius: var(--Edge-radius);
  border-style: none;
  cursor: pointer;
  font-family: var(--text-font);
  font-size: medium;
  color: var(--Darkergray-color);
  opacity: 0.9;
  transition: background-color 0.7s ease-out;
}



/*Footer styles*/
footer{
  background-color: var(--lightergray-color);
  padding: 40px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  
  align-items: flex-start;
  justify-content: center;

 flex-wrap: wrap;

}

footer .tags h3, footer .Social h3, footer .about h3{
  color: var(--Darkergray-color);
  margin-bottom: 10px;
}


footer .main-logo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

footer  .footer-right{
  display: flex;
  flex-direction: column;
  
}

footer .footer-content{
  line-height: 1.6;
  max-width: 400px;
  text-align: start;
}

footer .footer-links a, .tags ul li, footer .Social ul, .about ul{
  list-style: none;
  padding-left: 0;

}

footer .footer-links a, .tags ul a, footer .Social ul , .about ul a{
 text-decoration: none;
  color: var(--mediumgray-color);

}

footer .Social ul {

display: flex;
flex-direction: column;
gap: 10px;

}

footer .Social ion-icon {
  font-size: 25px;
}

footer .Social ul li{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;

}

footer .Social ul li span:first-child {
  flex-grow: 1;
}
footer .Social ul li span:nth-child(2) {
  flex-grow: 1;
}

footer .tags ul li{
  background-color: var(--white-color);
  border-radius: 1cap;
  width: fit-content;
  padding: 5px;

 
}
footer .tags ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .footer, .tags, .Social, .about{
flex: 1;

}









